<div class="bg-[#2B5B11] w-full flex flex-col items-center justify-between p-2 h-[900px]">
  <div class="zona w-full p-5 flex items-center justify-between ataque">
    @for (jogador of ataque; track jogador.id) {
      <app-jogador [jogador]="jogador"></app-jogador>
    }
  </div>
  <div class="zona w-full p-5 flex items-center justify-between meio-campo">
    @for (jogador of meio; track jogador.id) {
      <app-jogador [jogador]="jogador"></app-jogador>
    }
  </div>
  <div class="zona w-full p-5 flex items-center justify-between gap-2 defesa">
    @for (jogador of defesa; track jogador.id) {
      <app-jogador [jogador]="jogador"></app-jogador>
    }
  </div>
  <div class="zona w-full goleiro p-5 flex items-center justify-center">
    <app-jogador [jogador]="goleiro"></app-jogador>
  </div>
</div>
